<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ '::Menu:LedgerGroup' | abpLocalization }}
        </h5>
      </div>
      <div class="text-end col col-md-6">
        <div class="text-lg-end pt-2">
          <button id="create" class="btn btn-primary" type="button"
                  (click)="createLedgerGroup()">
            <i class="fa fa-plus me-1"></i>
            <span>{{ '::NewLedgerGroup' | abpLocalization }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable [rows]="ledgerGroup.items" [count]="ledgerGroup.totalCount" [list]="list" default>
      <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="150" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" ngbDropdownToggle>
              <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button  ngbDropdownItem (click)="editLedgerGroup(row.id)">
                {{ '::Edit' | abpLocalization }}
              </button>
              <button ngbDropdownItem (click)="deleteLedgerGroup(row.id)">
                {{ '::Delete' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'::Title' | abpLocalization" prop="title"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Code' | abpLocalization" prop="code" ></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Type' | abpLocalization" prop="type" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ '::Enum:LedgerGroupType.' + row.type | abpLocalization }}
        </ng-template>
      </ngx-datatable-column>
      
    </ngx-datatable>
  </div>
</div>

<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>{{ (selectedLedgergroup.id ? '::Edit' : '::NewLedgerGroup' ) | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" (ngSubmit)="save()">


      <div class="mt-2">
        <label for="ledgergroup-title">Title</label><span> * </span>
        <input type="text" id="ledgergroup-title" class="form-control" formControlName="title" autofocus />
      </div>

      <div class="mt-2">
        <label for="ledgergroup-code">Code</label><span> * </span>
        <input type="number" id="ledgergroup-code" class="form-control" formControlName="code" />
      </div>

      <div class="mt-2">
        <label for="ledgergroup-type">Type</label><span> * </span>
        <select class="form-control" id="ledgergroup-type" formControlName="type">
          <option [ngValue]="null">Select a ledger group type</option>
          <option [ngValue]="type.value" *ngFor="let type of ledgergroupTypes">
            {{ '::Enum:LedgerGroupType.' + type.value | abpLocalization }}
          </option>
        </select>
      </div>
      <div class="mt-2">
        <label for="ledgergroup-description">Description</label>
        <input type="text"  id="ledgergroup-description" class="form-control" formControlName="description" />
      </div>

    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>

    <!--added save button-->
    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>

</abp-modal>
